.number-input {
  display: inline-block;
  position: relative;

  &__arrow-buttons {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 18px;

    display: flex;
    flex-direction: column;
  }
}
