.number-input-arrow-icon {
  width: 100%;
  fill: #4c4c4c;

  &.down {
    transform: rotate(180deg);
  }

  &.blue {
    fill: #2d9cdb;
  }

  &.error {
    fill: #f2486a;
  }

  &.disabled {
    // matches disabled input color
    fill: #7f7f7f;
  }
}
