.number-input-arrow-icon {
  width: 100%;
  fill: #4C4C4C;

  &.down {
    transform: rotate(180deg);
  }

  &.blue {
    fill: #2d9cdb;
  }

  &.disabled {
    // matches disabled input color
    fill: #7F7F7F;
  }
}
