.standard-input {
  width: 100%;
  padding: 0.69rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.188rem;

  // so a white input looks good on a white background even though the border is hidden/transparent
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);

  &:focus {
    color: #07a9ef;
    outline: 0;

    &::placeholder {
      // make the placeholder 20% darker when focused
      color: #767676;
    }
  }

  &::placeholder {
    color: #a9a9a9;

    // prevent Firefox from setting a lower opacity
    opacity: 1;
  }

  &::-ms-clear {
    // prevent Edge from showing an 'x' clear button
    display: none;
  }

  &.blue {
    background: #ebf9fd;
    box-shadow: none;

    &.disabled {
      background: #ebf9fd;
    }

    &:focus {
      border: 1px solid #07a9ef;
    }
  }

  &.error {
    background: #fff6f6;
    box-shadow: none;
    color: #f2486a;

    &:focus {
      border: 1px solid #f2486a;
    }
  }

  &.disabled {
    background: white;
    color: #7f7f7f;
  }
}
